* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, rgb(165, 128, 42) 70%, rgb(115, 128, 0));
}

.score {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top: 10px;
    color: white;
    z-index: 1;
}

.game-background {
    position: relative;
    background-image: linear-gradient(to top, #FCE694, #E88D67, #D64541);
    border-bottom: 10px solid rgb(82, 99, 7);
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.clouds {
    background-image: url('../assets/images/clouds.png');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    animation: background-animation  60s linear infinite;
}

.mountains-far-away {
    background-image: url('../assets/images/mountains-far-away.png');
    background-repeat: repeat-x;
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 252px;
    animation: background-animation  40s linear infinite;
}

.mountains-closer {
    background-image: url('../assets/images/mountains-closer.png');
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    height: 168px;
    bottom: 0px;
    animation: background-animation  10s linear infinite;
}

.persona {
    position: absolute;
    width: 100px;
    transition: bottom ease-out 0.3s;
}

.jump {
    animation: jump-animation 600ms ease-out ;
}

.energy-ball {
    width: 50px;
    height: 50px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: left ease, bottom ease;
}

.pause {
    animation-play-state: paused !important;
}

.game-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.7); 
    z-index: 2;       
}

.game-over-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

#game-over-title {
    font-family: monospace;
    font-size: 38px;
    font-weight: bolder;
}


#score-final {
    font-family: monospace;
    text-align: center;
    color: black;
}

.restart-btn {
    background-color: orange;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;

    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.restart-btn:active{
    transform: scale(0.95);
}

@keyframes energy-ball-animation {
    from {
        right: -25%;
    }

    to {
        right: 115%;
    }
}

@keyframes jump-animation {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 90px;
    }

    60% {
        bottom: 80px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes background-animation {
    from{
        background-position: 0 0;
    }


    to {
        background-position: -1024px 0;
    }
}