* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    position: relative;
    border: black solid 1px;
}

.persona {
    width: 100px;
}

.energy-ball {
    width: 50px;
}